<!-- projects.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Все проекты</h1>

  <div class="project-container">
      <a href="{% url 'create_project' %}" class="project-item create-project">
      <div class="project-item-inner">
        Создать новый проект
      </div>
    </a>
    {% for project in projects %}
      <a href="{% url 'show_files' %}?project_id={{ project.id }}" class="project-item">
        <div class="project-item-inner">
          {{ project.name }}
          <form action="{% url 'delete_project' %}?project_id={{ project.id }}" method="post" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="delete-button">
              <img class="but" src="{% static 'img/delete.png' %}" width="25px;">
            </button>
          </form>
        </div>
      </a>
    {% endfor %}


  </div>
{% endblock %}
